#ao3-comment-container {
  height:500px;
  background-color:#fff;
  width:100%;
  border-top:1px solid rgba(245,245,245,1);
  box-shadow: -1px -2px 2px 0px rgba(245,245,245,1);
  box-shadow: -1px -2px 2px 0px #900;
  padding:0;
  position:fixed;
  bottom:-24%;
  height:30%;
  box-sizing: border-box;
  padding:10px;
}
  #ao3-comment-container.show {
    bottom:0px;
  }
#ao3-comment-container textarea {
  margin-top:1rem;
  min-height:100px;
  margin-bottom:1rem;
  display:block;
}

#quote-bit, #comment-bit {
  float:left;
  box-sizing:border-box;
}

#quote-bit {
  width:30%;
  margin-left:10%;
  padding-right:1rem;
}
  #quote-selection {
    border-left: 3px solid #848484;
    color: #6a6a6a;
    padding-left:0.5rem;
    font-size:90%;
    height:60%;
    overflow-y:scroll;
  }
#comment-bit {
  width:50%;
}
#warning-text {
  color:#900;
  font-size:80%;
  opacity:0;
}
  #warning-text.show {
    opacity:1;
  }


#ao3-add-to-comment {
  margin-left:1rem;
  background-image: linear-gradient(#e43737 2%,#900 95%,#900 100%);
  color: #fff;
}

#ao3-comment-desc {
  width:80%;
  margin:0px auto;
  position:relative;
}
  #ao3-comment-container.show #ao3-comment-desc p {
    opacity:0;
  }
  #ao3-comment-desc p {
    display: inline-block;
    margin-right: 1rem;
  }
  #ao3-comment-desc button {
    position:absolute;
    right:0;
  }
#toggle-button {
  font-size:80%;
}

@media only screen and (max-width: 800px) {
  #ao3-comment-container {
    height:34%;
    bottom:-28%;
  }
  #ao3-add-to-comment {
    margin-top: 0.5rem;
    margin-left: 0;
  }

}
